<nav>
    <div class="top-navbar">
        <div class="top-left-navbar">
            <ul>
                <li><a href="#"></a><i class="fa-solid fa-bars dropdown"></i></li>
                <li><a href="#"></a><i class="fa-solid fa-magnifying-glass"></i></li>
            </ul>
        </div>
        <div class="logo">
            <a href="/">
                <img src="img/designs/logo6.png" alt="Logo">
            </a>
        </div>
        <div class="top-right-navbar">
                <ul>
                    <li><a href="/login"><i class="fa-regular fa-user"></i></a></li>
                    <li><a href="#"></a><i class="fa-solid fa-cart-shopping"></i></li>
                </ul>
        </div>
    </div>
    <div class="bottom-navbar">
        <ul>
            <li><a href="#">MEN</a></li>
            <li><a href="#">WOMEN</a></li>
            <li><a href="#">KIDS</a></li>
            <li><a href="#">MARCAS</a></li>
            <li><a href="#">OFERTAS</a></li>
        </ul>
    </div>
</nav>