<header class="partial-header">
        <nav>
            <div class="top-navbar-container">
                <div class="top-navbar">
                    <div class="top-left-navbar">

                        <div class="burger-menu">
                            <i class="fa-solid fa-bars dropdown"></i>
                        </div>

                        <div class="search-bar-container">
                            <form class="search-bar" action="/products?search=">
                                <input type="text" class="search-bar__input" placeholder="search..." aria-label="search">
                                <button class="search-bar__submit" aria-label="submit search">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </form>
                        </div>

                        <!-- <ul>
                            <li id="li-burger"><a href="#"><i class="fa-solid fa-bars dropdown"></i></a></li>
                            <li id="li-search"><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                        </ul> -->

                    </div>
                    <div class="logo">
                        <a href="/">
                            <img src="/img/designs/logo7.png" alt="Logo">
                        </a>
                    </div>
                    <div class="top-right-navbar">
                            <ul>
                                <% if (typeof session.category != 'undefined') { %>
                                    <% if (session.category == 'admin') { %>
                                    <li><a href="/products/create">
                                        <div class="user_button">
                                            Crear producto
                                        </div>
                                    <% } %>
                                <% } %>
                                <% if (typeof session.user_id != 'undefined') { %>
                                    <li><a href="/users/<%= session.user_id %>/profile" id="user-id">
                                        <div class="user_button">
                                            <%= session.first_name %>
                                            <%= session.last_name %>
                                        </div>
                                <% } else { %>  
                                    <li><a href="/users/login"><i class="fa-regular fa-user"></i></a></li>
                                <% } %>
                                <li><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                            </ul>
                    </div>
                </div>
            </div>
            <div class="bottom-navbar-container">
                <div class="bottom-navbar">
                    <ul>
                        <li><a href="/products?sizerange=men">MEN</a></li>
                        <li><a href="/products?sizerange=women">WOMEN</a></li>
                        <li><a href="/products?sizerange=kids">KIDS</a></li>
                        <li><a href="/products">PRODUCTOS</a></li>
                        <li><a href="/products/bargains">OFERTAS</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    <script src="/scripts/header.js"></script>
</header>