<header class="partial-header">
        <nav>
            <div class="top-navbar-container">
                <div class="top-navbar">
                    <div class="top-left-navbar">
                        <ul>
                            <li><a href="#"><i class="fa-solid fa-bars dropdown"></i></a></li>
                            <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                        </ul>
                    </div>
                    <div class="logo">
                        <a href="/">
                            <img src="/img/designs/logo6.png" alt="Logo">
                        </a>
                    </div>
                    <div class="top-right-navbar">
                            <ul>
                                <li><a href="/login"><i class="fa-regular fa-user"></i></a></li>
                                <li><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                            </ul>
                    </div>
                </div>
            </div>
            <div class="bottom-navbar-container">
                <div class="bottom-navbar">
                    <ul>
                        <li><a href="#">MEN</a></li>
                        <li><a href="#">WOMEN</a></li>
                        <li><a href="#">KIDS</a></li>
                        <li><a href="#">MARCAS</a></li>
                        <li><a href="#">OFERTAS</a></li>
                    </ul>
                </div>
            </div>
        </nav>
</header>