<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/cart.css">
    <script src="https://kit.fontawesome.com/f7b22d2da3.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <title>Carrito de compras</title>
</head>
<body>
    <header>
        <div class="top-navbar">
            <div class="top-left-navbar">
                <ul>
                    <li><a href="#"></a><i class="fa-solid fa-bars"></i></li>
                    <li><a href="#"></a><i class="fa-solid fa-magnifying-glass"></i></li>
                </ul>
            </div>
            <div class="logo">
                <img src="img/designs/logo6.png" alt="Logo">
            </div>
            <div class="top-right-navbar">
                    <ul>
                        <li><a href="#"></a><i class="fa-regular fa-user"></i></li>
                        <li><a href="#"></a><i class="fa-solid fa-cart-shopping"></i></li>
                    </ul>
            </div>
        </div>
        <div class="bottom-navbar">
            <ul>
                <li><a href="#">Men</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">Kids</a></li>
                <li><a href="#">Marcas</a></li>
                <li><a href="#">Ofertas</a></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="header-cart">
            <div class="header-cart-left">
                <h2>TU CARRO</h2>
            </div>
            <div class="header-cart-right">
                <div class="header-cart__subtotal">
                Subtotal:  
                <span class="money"> $500 </span>
                </div>
                <div class="header-cart__checkout">
                    <button href="#">Checkout</button>
                </div>
            </div>
        </div>
        <div class="cartitems-list">
            <ul class="cartitems__list">
                <li>
                    <div class="cart-item">
                        <div class="cart-item__image">
                            <img src="img/products/yeezy_1.webp" alt="product">
                        </div>
                        <div class="cart-item__inner">
                            <div class="cart-item__content">
                                <h2 class="cart-item__content-title">
                                    <a href=""> YEEZY LUNAR LANDING</a>
                                </h2>
                                <div class="cart-item__content-price">
                                    <span class="cart-item__price-title">
                                      Price
                                    </span>
                                    <span class="money">$500</span>
                                </div>
                                <div class="cart-item__product-options">
                                    <span class="cart-item__option-name">Size</span> UK 7 | EU 41 | US 8
                                </div>
                                <div class="stock-level__wrapper">
                                    <span class="product-stock__level stock-level__low-stock">
                                    <span class="stock-level__text">Only 2 left at this price!</span>
                                    </span>
                                </div>
                                <div class="cart__item-sku">
                                    <strong>SKU </strong><span>554724-078</span></div>
                                </div>
                            <div class="cart-item__info">Info</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="cart-item">
                        <div class="cart-item__image">
                            <img src="img/products/yeezy_1.webp" alt="product">
                        </div>
                        <div class="cart-item__inner">
                            <div class="cart-item__content">
                                <h2 class="cart-item__content-title">
                                    <a href=""> YEEZY LUNAR LANDING</a>
                                </h2>
                                <div class="cart-item__content-price">
                                    <span class="cart-item__price-title">
                                      Price
                                    </span>
                                    <span class="money">$500</span>
                                </div>
                                <div class="cart-item__product-options">
                                    <span class="cart-item__option-name">Size</span> UK 7 | EU 41 | US 8
                                </div>
                                <div class="stock-level__wrapper">
                                    <span class="product-stock__level stock-level__low-stock">
                                    <span class="stock-level__text">Only 2 left at this price!</span>
                                    </span>
                                </div>
                                <div class="cart__item-sku">
                                    <strong>SKU </strong><span>554724-078</span></div>
                                </div>
                            <div class="cart-item__info">
                                <div class="cart-item--quantity form-fields--qty" data-quantity-wrapper="">
                                    <div class="form-field form-field--qty-select visible">
                                      <div class="form-field-select-wrapper">
                                        <select class="form-field-input form-field-select form-field-filled" id="quantity_Air_Jordan_1_Mid_Smoke_Grey_Anthracite" aria-label="Quantity" data-quantity-select="" data-cartitem-quantity="">
                                          
                                            <option selected="" value="1">
                                              1
                                            </option>
                                          
                                            <option value="2">
                                              2
                                            </option>
                                          
                                            <option value="3">
                                              3
                                            </option>
                                          
                                            <option value="4">
                                              4
                                            </option>
                                          
                                            <option value="5">
                                              5
                                            </option>
                                          
                                            <option value="6">
                                              6
                                            </option>
                                          
                                            <option value="7">
                                              7
                                            </option>
                                          
                                            <option value="8">
                                              8
                                            </option>
                                          
                                            <option value="9">
                                              9
                                            </option>
                                          
                                          <option value="10">
                                            10+
                                          </option>
                                        </select>
                                        <label class="form-field-title" for="quantity_Air_Jordan_1_Mid_Smoke_Grey_Anthracite">
                                          Quantity
                                        </label>
                                        
                                                            <svg class="icon-chevron-down-small " aria-hidden="true" focusable="false" role="presentation" xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6" fill="none">          <title>Chevron down icon</title>        <path class="icon-chevron-down-left" d="M4 4.5L7 1.5" stroke="currentColor" stroke-width="1.25" stroke-linecap="square"></path>      <path class="icon-chevron-down-right" d="M4 4.5L1 1.5" stroke="currentColor" stroke-width="1.25" stroke-linecap="square"></path>    </svg>                                                                                      
                            
                                        </div>
                                    </div>
                            
                                    <div class="form-field form-field--qty-input hidden">
                                      <input class="form-field-input form-field-number form-field-filled" value="1" name="updates[]" id="updates_41290418913445:22c42d6fc719e1de16ca7b7d9510687c" type="text" pattern="\d*" tabindex="-1" aria-label="Quantity" data-quantity-input="" data-cartitem-quantity="">
                                      <label class="form-field-title" for="updates_41290418913445:22c42d6fc719e1de16ca7b7d9510687c">
                                        Quantity
                                      </label>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cart-total">
            <div class="cart-ordernote">
                <div class="cart-ordernote__heading">Ingrese detalles o instrucciones sobre la compra:</div>
                <div class="form-field">
                    <div class="form-field__input">
                        <textarea class="form-field__input form-field-textarea" name="note" id="cart-note"></textarea>
                    </div>
                </div>
            </div>
            <div class="cart-savings">
                You are saving $50
            </div>
            <div class="cart-subtotal">
                Subtotal : $500
            </div>
        </div>
        <div class="cart-shipping">Shipping info</div>
        <div class="cart-checkout">Checkout button</div>
    </main>
</body>
</html>