<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://kit.fontawesome.com/f7b22d2da3.js" crossorigin="anonymous"></script>
    <title>SneaKicks</title>

</head>
<body>
    <nav>
        <div class="upper-header">
            <div class="upper-header_logo">
                <img src="/img/designs/logo6.jpg" alt="Logo SneaKicks" width="140" height="25">
            </div>
            <div>
                <i class="fa-solid fa-grip-lines-vertical"></i>
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-user"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
        <div class="lower-header">
            <a href="/">Home</a>
            <a href="/">Home</a>
            <a href="/">Home</a>
            <a href="/">Home</a>
            <a href="/">Home</a>
        </div>
    </nav>
    <main>
        <div class="carrousel_container">
            <img src="/img/products/carrousel_placeholder.jpeg" alt="carrousel" class="carrousel">
            <button class="shop_button">SHOP NOW</button>
            <i class="fa-solid fa-arrow-left left_arrow"></i>
            <i class="fa-solid fa-arrow-right right_arrow"></i>
        </div>
        <div class="discount-container">
            <div class="discount-container_item">DESCUENTO</div>
            <div class="discount-container_item">DESCUENTO</div>
            <div class="discount-container_item">DESCUENTO</div>
            <div class="discount-container_item">DESCUENTO</div>
        </div>
        <h2 class="center_text">NOVEDADES</h2>
        <div class="preview-container">
            <div class="preview-container_item">
                <div class="preview_image">
                    <img src="/img/products/carrousel_placeholder.jpeg" alt="" class="preview">
                </div>
                <div class="preview_content">
                    DATOS
                </div>
            </div>
            <div class="preview-container_item">
                <div class="preview_image">
                    <img src="/img/products/carrousel_placeholder.jpeg" alt="" class="preview">
                </div>
                <div class="preview_content">
                    DATOS
                </div>
            </div>
            <div class="preview-container_item">
                <div class="preview_image">
                    <img src="/img/products/carrousel_placeholder.jpeg" alt="" class="preview">
                </div>
                <div class="preview_content">
                    DATOS
                </div>
            </div>
            <div class="preview-container_item">
                <div class="preview_image">
                    <img src="/img/products/carrousel_placeholder.jpeg" alt="" class="preview">
                </div>
                <div class="preview_content">
                    DATOS
                </div>
            </div>
        </div>
        <h2 class="center_text">OFERTAS</h2>
        <div class="preview-container">
            <div class="preview-container_item">
                <div class="preview_image">
                    <img src="/img/products/carrousel_placeholder.jpeg" alt="" class="preview">
                </div>
                <div class="preview_content">
                    DATOS
                </div>
            </div>
            <div class="preview-container_item">
                <div class="preview_image">
                    <img src="/img/products/carrousel_placeholder.jpeg" alt="" class="preview">
                </div>
                <div class="preview_content">
                    DATOS
                </div>
            </div>
            <div class="preview-container_item">
                <div class="preview_image">
                    <img src="/img/products/carrousel_placeholder.jpeg" alt="" class="preview">
                </div>
                <div class="preview_content">
                    DATOS
                </div>
            </div>
            <div class="preview-container_item">
                <div class="preview_image">
                    <img src="/img/products/carrousel_placeholder.jpeg" alt="" class="preview">
                </div>
                <div class="preview_content">
                    DATOS
                </div>
            </div>
        </div>
        <div class="carrousel_container">
            <img src="/img/products/carrousel_placeholder.jpeg" alt="carrousel" class="carrousel">
        </div>
        <h2 class="center_text">COMPRA POR MARCAS</h2>
    </main>
</body>
</html>