<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/f7b22d2da3.js" crossorigin="anonymous"></script>

</head>
<body>

    <main>
        <h2>INGRESAR</h2>
        <form  enctype="text/plain" method="POST" action="index.php">
            <div class="input-container-padre">
                <div class="input-container-hijo">
                    <input  type="mail" name="correo" placeholder="usuario" required=true>
                </div>
            </div>
            <div class="input-container-padre"> 
                <div class="input-container-hijo">
                    <input type="password" name="direccion" placeholder="contraseña" minlength="10" required=true>
                </div>
            </div>
            <div class="boton_padre">
                <div class="boton_hijo1">
                    <button name="button" >Ingresar </button>
                </div>
                <div class="boton_hijo2">
                    <p><a href="#">¿Olvidaste tu Contraseña?</a> 
                    <p><a href="/views/register.html">¿No tienes Cuenta? Registrate</a>
                </div>
            
            </div>
        
    </main>
    
</body>
</html>