<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    
     <form class="form">
        
        <h1 class="titulo">Crea tu Cuenta</h1>
        
        <input class="cajas" type="text" placeholder="Nombres" required maxlength="30">
        <input class="cajas" type="text" placeholder="Apellidos" required maxlength="30">
        <input class="cajas" type="email" placeholder="Email" required maxlength="30">
        <input class="cajas" type="contraseña" placeholder="Contraseña" required maxlength="30">
        
        <p class="termino1"><input type="checkbox">  Estoy de acuerdo con <a class="termino2" href="">Terminos y Condiciones</a></p>
        <p class="termino1"><input type="checkbox">  Quiero recibir notifaciones al correo<a class="termino2" href="#"></a></p>
        
        <input type="submit" class="btn" value="REGISTRAR">
        
        <p class="tengo-cuenta"><a href="" class="tengo-cuenta">Ya tengo cuenta</a></p>
        
    </form>
</body>
</html>