footer a {
    text-decoration: underline;
    color: white;
    font-weight: 500;
}

footer p {
    color: white;
    font-size: 14px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    background-color: #23314D;
}

.footer-container_item {
    width: 95%;
    height: auto;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-container_item-title {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container_item-content {
    display: none;
}

.footer-container_logo {
    display: flex;
    width: 32%;
    height: auto;
    align-items: center;
}

.footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 180px;
}

.social_icon {
    margin: 10px 5px;
}

.socials-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    padding-bottom: 10px;
}