/* :root{
    --vw-1-5rem: clamp(1.35rem, calc(((24 * 100) / 414) * 1vw), 2.087rem);
    --vw-1-2rem: clamp(1rem, calc(((19.2 * 100) / 414) * 1vw), 1.669rem);
    --vw-1rem: clamp(0.9rem, calc(((16 * 100) / 414) * 1vw), 1.391rem);
    --vw-2rem: clamp(1.8rem, calc(((32 * 100) / 414) * 1vw), 2.782rem);
    --vw-2-5rem: clamp(2.26rem, calc(((40 * 100) / 414) * 1vw), 3.478rem);
    --vw-10px: clamp(0.5rem, calc(((10 * 100) / 414) * 1vw), 0.869rem);
    --vw-20px: clamp(1.13rem, calc(((20 * 100) / 414) * 1vw), 1.739rem);
    --vw-1-1rem: clamp(0.99rem, calc(((17.6 * 100) / 414) * 1vw), 1.53rem);
    --vw-0-5rem: clamp(0.45rem, calc(((8 * 100) / 414) * 1vw), 0.695rem);
    --vw-0-4rem: clamp(0.36rem, calc(((6.4 * 100) / 414) * 1vw), 0.556rem);
    --vw-0-8rem: clamp(0.7rem, calc(((12.8 * 100) / 414) * 1vw), 1.113rem);
    --vw-4rem: clamp(3.62rem, calc(((64 * 100) / 414) * 1vw), 5.565rem);
    --vw-3rem: clamp(2.7rem, calc(((48 * 100) / 414) * 1vw), 4.174rem);
    --vw-5rem: clamp(4.5rem, calc(((80 * 100) / 414) * 1vw), 6.956rem);
    --vw-6rem: clamp(5.2rem, calc(((96 * 100) / 414) * 1vw), 8.348rem);
} */

:root{
    --clr-primary: #ee6352;
    --clr-body: #333;
    --clr-bg: #ddd;
}



/* select:focus{
    outline: none;
}
input:focus{
    outline: none;
}
textarea:focus{
    outline: none;
} */



.partial-header li {
    list-style: none;
}

.partial-header ul{
    padding-left: 0;
}

.partial-header a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.partial-header .top-navbar-container {
    background-color: #ccc;
}

.partial-header .top-navbar{
    width: 100%;
    height: 65px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partial-header .top-navbar .top-left-navbar ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}
.partial-header .top-navbar .top-left-navbar ul li{
    margin: 10px;
}




.partial-header .logo {
    display: flex;
    justify-content: center;
}

.partial-header .logo img{
    min-width: 125px;
    width: 20%;
    max-width: 200px;
    height: auto;
}

.partial-header .top-right-navbar{
    max-width: 40%;
}

.partial-header .top-right-navbar ul{
    display: flex;
    align-items: center;
    font-size: 0.5rem;
}

.partial-header .top-right-navbar ul li{
    margin: 10px;
}

.partial-header .bottom-navbar-container {
    background-color: #cccc;
}

.partial-header .bottom-navbar {
    width: 100%;
    height: auto;
    padding: 1px;
    display: none;
}

.partial-header .bottom-navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partial-header .bottom-navbar ul li {
    margin: 0 12px;
}

.user_button {
    border: 1px solid black;
    border: none;
    border-radius: 0.5rem;
    width: auto;
    padding: 0.1rem 0.4rem;
}


.top-right-navbar li{
    font-size: 0.8rem;
}





.partial-header .top-navbar-container{
    display: flex;
    justify-content: center;
}

.partial-header .top-navbar {
    width: 90%;
    display: flex;
    align-items: center;
    position: relative;
}



.partial-header .top-right-navbar{
    position: absolute;
    right: 0;
    /* top: 0;
    bottom: 0; */
    font-size: 1rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.partial-header .logo{
    margin-left: auto;
    margin-right: auto;
}


.partial-header .top-left-navbar{
    position: absolute;
    left: 0;
    /* top: 0;
    bottom: 0; */
    width: 30%;

    display: flex;
    align-items: center;
}


.burger-menu{
    margin-right: 20px;
    font-size: 1rem;
}



.search-bar-container{
    width: 100%;
}


.search-bar{
    --size: 30px;
    border: 2px solid rgb(84, 193, 230);
    display: flex;
    border-radius: 50px;
    height: var(--size);
    padding: 1px;
    width: var(--size);
    position: relative;
    transition: width 300ms cubic-bezier(.18, .89, .32, 1.02);
    overflow: hidden;
    background-color: white;
}

.search-bar__input{
    flex-grow: 1;
    font-size: 0.8rem;
    padding: 0 0.5em;
    border: 0;
    background: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    line-height: calc(var(--size) - 3px);
    opacity: 0;
    cursor: pointer;
    background-color: white;
}
.search-bar__input:focus{
    outline: 0;
}

.search-bar__submit{
    cursor: pointer;
    border: 0;
    padding-right: 20px;
    padding-top: 0px;
    padding-left: 5px;
    padding-bottom: 3px;
    background: transparent;
    border-radius: 50%;
    width: calc(var(--size) - 2px);
    height: calc(var(--size) - 2px);
    margin-left: auto;
    transition: background 150ms ease-in-out;
    color: black;
}

.search-bar:focus-within{
    width: 100%;

}

.search-bar:focus-within .search-bar__input{
    opacity: 1;
    cursor: initial;
    width: calc(95% - var(--size));
    margin-left: 7px;
}

.search-bar:focus-within .search-bar__submit{
    /* background-color: var(--clr-primary); */
    padding-right: 0;
    padding-left: 0;
    margin-right: 2px;
    margin-bottom: 0;
    font-size: 0.8rem;
    padding-top: 3px;
    /* margin-top: 1px; */
    color: black;
}

.search-bar:focus-within .search-bar__submit:hover,
.search-bar:focus-within .search-bar__submit:focus{
    outline: 0;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.35); */
}











@media (min-width: 500px){
    .partial-header .top-right-navbar ul{
        font-size: 0.8rem;
    }
}


@media (min-width: 576px){
    .partial-header {
        font-size: 14px;
    }

    .partial-header .header_icon {
        color: #5E554B;
        margin-left: 10px;
        margin-right: 10px;
        visibility: visible;
    }

    .partial-header .header_logo {
        width: 180px;
        height: auto;
    }

    .partial-header .menu_icon {
        color: #5E554B;
        margin-left: 10px;
        margin-right: 10px;
        visibility: hidden;
    }
}


@media (min-width: 768px){

    .partial-header .header_logo {
        width: 240px;
        height: auto;
    }

    .partial-header .shop_button {
        height: 48px;
        font-size: 18px;
    }
}

@media (min-width: 992px){

    
    .partial-header .bottom-navbar-container{
        display: flex;
        justify-content: center;
    }

    .partial-header .bottom-navbar {
        display: block;
        width: 90%;
    }

    .partial-header {
        font-size: 16px;
    }

    .partial-header .dropdown {
        display: none !important;
    }

    .partial-header .logo img{
        width: 9rem;
    }



    .partial-header .top-navbar-container{
        display: flex;
        justify-content: center;
    }

    .partial-header .top-navbar {
        width: 90%;
        display: flex;
        align-items: center;
        position: relative;
    }

    

    .partial-header .top-right-navbar{
        position: absolute;
        right: 0;
        /* top: 0;
        bottom: 0; */
        font-size: 1rem;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
    }

    .partial-header .logo{
        margin-left: auto;
        margin-right: auto;
    }


    .partial-header .top-left-navbar{
        position: absolute;
        left: 0;
        /* top: 0;
        bottom: 0; */
        width: 30%;

        display: flex;
        align-items: center;
    }



    .search-bar-container{
        width: 100%;
    }


    .search-bar{
        --size: 30px;
        border: 2px solid rgb(84, 193, 230);
        display: flex;
        border-radius: 50px;
        height: var(--size);
        padding: 1px;
        width: var(--size);
        position: relative;
        transition: width 400ms cubic-bezier(.18, .89, .32, 1.02);
        overflow: hidden;
        background-color: white;
    }

    .search-bar__input{
        flex-grow: 1;
        font-size: 0.8rem;
        padding: 0 0.5em;
        border: 0;
        background: transparent;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        line-height: calc(var(--size) - 3px);
        opacity: 0;
        cursor: pointer;
        background-color: white;
    }
    .search-bar__input:focus{
        outline: 0;
    }

    .search-bar__submit{
        cursor: pointer;
        border: 0;
        padding-right: 20px;
        padding-top: 0px;
        padding-left: 5px;
        padding-bottom: 3px;
        background: transparent;
        border-radius: 50%;
        width: calc(var(--size) - 2px);
        height: calc(var(--size) - 2px);
        margin-left: auto;
        transition: background 150ms ease-in-out;
        color: black;
    }

    .search-bar:focus-within{
        width: 100%;

    }

    .search-bar:focus-within .search-bar__input{
        opacity: 1;
        cursor: initial;
        width: calc(95% - var(--size));
        margin-left: 7px;
    }

    .search-bar:focus-within .search-bar__submit{
        /* background-color: var(--clr-primary); */
        padding-right: 0;
        padding-left: 0;
        margin-right: 2px;
        margin-bottom: 0;
        font-size: 0.8rem;
        padding-top: 3px;
        /* margin-top: 1px; */
        color: black;
    }

    .search-bar:focus-within .search-bar__submit:hover,
    .search-bar:focus-within .search-bar__submit:focus{
        outline: 0;
        /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.35); */
    }

    .burger-menu{
        display: none;
    }

    .top-right-navbar li{
        font-size: 0.9rem;
    }

}
