@import url("header.css");
@import url("footer.css");

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    list-style: none;
    padding: 0px;
}

a {
    text-decoration: none;
}

.blank-list {
    list-style: none;
}

body {
    font-size: 12px;
    margin: 0px;
}

.brands_left_arrow {
    position: absolute;
    top: 40%;
    left: 1%;
  }

.brands_preview {
    max-width: 22%;
    width: 200px;
    height: auto;
  }

.brands_right_arrow {
    position: absolute;
    top: 40%;
    right: 1%;
  }

.carrousel {
    width: 100%;
    height: auto;
  }

.carrousel_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.carrousel_small {
    width: 97%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0px;
    border: solid;
}

.carrousel_text {
    color: black;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    text-align: center;
    top: 53%;
}

.center_text {
    text-align: center;
}

.color-grey{
    color: #5E554B;
}

.shop_button {
    background-color: #5E554B;
    border-radius: 3px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 12px;
    height: auto;
    padding: 8px;
    position: absolute;
    text-align: center;
    top: 78%;
    transition: box-shadow .15s,transform .15s;
    width: 25%;
}

.shop_button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
    transform: translateY(-2px);
}

.left_arrow {
    position: absolute;
    top: 35%;
    left: 5%;
  }

main {
    margin: 0px;
}

.menu_icon {
    color: #5E554B;
    margin-left: 10px;
    margin-right: 10px;
    visibility: visible;
}

.chevron-margin-right {
    margin-right: 10px;
}

.discount-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.discount-container_item {
    border-radius: 2px;
    width: 90%;
    height: auto;
}

.discount-container img{
    margin: 0.5rem 0.25rem;
}

.half-margin {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.header_logo {
    width: 140px;
    height: auto;
}

.header_icon {
    color: #5E554B;
    margin-left: 10px;
    margin-right: 10px;
    visibility: hidden;
}

.pagination_container {
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.preview {
    max-width:100%;
    height: auto;
  }

.preview-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.preview-container_item:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

.preview-container_item {
    border-radius: 2px;
    width: 90%;
    height: auto;
    text-align: center;
    margin-bottom: 15px;
}

.preview-container a{
    color: black;
}

.preview_content {
    border-top: 1px solid rgba(33,33,33,.2);
}

.price::before {
    content: "$";
}

.right_arrow {
    position: absolute;
    top: 35%;
    right: 5%;
  }

.upper-header {
    display: flex;
    align-items: center;
  }

.upper-header_logo {
    display: block;
    margin-left: 32%;
    margin-right: auto;
}

.lower_banner {
    width: 97%;
    height: auto;
  }

.lower-header {
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: space-around;
    background-color: #f3f3f3;
}
  

@media (min-width: 576px){
    body {
        font-size: 14px;
    }

    .carrousel_text {
        color: black;
        font-size: 20px;
        font-weight: 700;
        position: absolute;
        top: 55%;
    }

    .discount-container_item {
        border-radius: 2px;
        width: 45%;
        height: auto;
    }

    .header_icon {
        color: #5E554B;
        margin-left: 10px;
        margin-right: 10px;
        visibility: visible;
    }

    .header_logo {
        width: 180px;
        height: auto;
    }

    .menu_icon {
        color: #5E554B;
        margin-left: 10px;
        margin-right: 10px;
        visibility: hidden;
    }

    .preview-container_item {
        width: 45%;
        height: auto;
        text-align: center;
    }
}


@media (min-width: 768px){

    .header_logo {
        width: 240px;
        height: auto;
    }

    .shop_button {
        height: auto;
        font-size: 18px;
    }

    .preview-container_item {
        width: 30%;
        height: auto;
        text-align: center;
    }
}

@media (min-width: 992px){

    .bottom-navbar {
        display: block;
    }

    body {
        font-size: 16px;
    }

    .carrousel_text {
        color: black;
        font-size: 30px;
        font-weight: 700;
        position: absolute;
        top: 60%;
    }

    .dropdown {
        display: none !important;
    }

    .footer-container_item {
        width: 32%;
        height: auto;
        color: white;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    
    .footer-container_item-title {
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-container_item-content {
        display: block;
    }

    .footer-container_logo {
        display: flex;
        width: 32%;
        height: auto;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .chevron-margin-right {
        visibility: hidden;
    }
    
}

@media (min-width: 1200px){}

@media (min-width: 1400px){}
