*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    list-style: none;
    padding: 0px;
    text-decoration: none;
}

body{
    font-size: 14px;
    color: black;
    background-color:white;
    margin: 0;
}

.cajas{
    display: block;
}

.tengo-cuenta{
    text-align: center;
    font-weight: bold;
    
}
.cajas_1{
    border: 2px solid #ABABAB;
    border-radius: 7px;
    margin-top: 30px;
    max-width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    transition: all 0.4s;
    width: 90%;
}
.cajas_1:hover{
    border-color: black;
}
.cajas_2{
    border: 2px solid #ABABAB;
    border-radius: 7px;
    margin-top: 30px;
    max-width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    transition: all 0.4s;
    width: 90%;
}
.cajas_2:hover{
    border-color: black;  
   
}
.caja2_1{
    border: 2px solid #ABABAB;
    border-radius: 7px;
    margin-top: 30px;
    max-width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    transition: all 0.4s;
    width: 90%;
}

.caja2_2{
    border: 2px solid #ABABAB;
    border-radius: 7px;
    margin-top: 30px;
    max-width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    transition: all 0.4s;
    width: 90%;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
}

.botones1 {
    padding: 0px 10px;
}

button:hover{
    cursor: pointer;
}

.genero {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.radios{
    display: block;
    
}

.register-container {
    text-align: center;
    width: 70%;
    padding: 1.5rem;
    margin: 2rem;
    background-color: #ABABAB;
}

.shop_button {
    background-color: #5E554B;
    border-radius: 3px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 18px;
    height: auto;
    padding: 5px;
    text-align: center;
    transition: box-shadow .15s,transform .15s;
    width: 50%;
}

.shop_button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
    transform: translateY(-2px);
}

@media (min-width: 576px){

}


@media (min-width: 768px){

    .register-container {
        text-align: center;
        width: 50%;
        padding: 1.5rem;
        margin: 2rem;
        background-color: #ABABAB;
    }
}

@media (min-width: 992px){}

@media (min-width: 1200px){}

@media (min-width: 1400px){}
