<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f7b22d2da3.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f7b22d2da3.js" crossorigin="anonymous"></script>
    <title>Registro | Sneakicks</title>

</head>
<body>
    
    <%- include('../partials/header'); %>

    <main>
        <div class="register-container">
            <form class="form">
                <h1>CREA TU CUENTA</h1>
                <section class="cajas">
                <input class="cajas_1" type="text" placeholder="Nombres" required maxlength="30">
                <input class="cajas_2" type="text" placeholder="Apellidos" required maxlength="30">
                </section>
                <section class="caja2">
                <input class="caja2_1" type="email" placeholder="Email" required maxlength="30">
                <input class="caja2_2" type="password" placeholder="Contraseña" required maxlength="30">
                </section>
                <section class="radios">
                    <p class="termino1"><input type="checkbox">  Quiero recibir novedades<a class="termino2" href="#"></a></p>
                    <p>Sexo:</p>
                    <div class="genero">
                        <input type="radio" id="hombre" name="Sexo" value="Hombre" checked>
                        <label for="hombre">Hombre</label>
                        <input type="radio" id="Mujer" name="Sexo" value="Mujer">
                        <label for="mujer">Mujer</label>
                    </div>
                </section>
                <div class="botones">
                    <button class="shop_button" name="button" >Registrarse </button>
                    <div class="botones1">
                        <p><a href="/login">¿Ya tienes Cuenta? Iniciar Seccion</a>
                    </div>
                </div>
            </form>
        </div>
    </main>

<%- include('../partials/footer'); %>

</body>
</html>