<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/manageProduct.css">
    <script src="https://kit.fontawesome.com/f7b22d2da3.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <title>Sneakicks</title>
</head>



<body>
    <main>
        <div class="container">
            <h2 class="manage-title">Crea o edita un producto</h2>
            <form action="/manageProduct" method="post">
                <article class="product-item">
                    <label for="item-name" class="item-label">Nombre del producto</label>
                    <input type="text" class="item-input" id="item-name">
                </article>
                <article class="product-item">
                    <label for="item-colorwave" class="item-label">Modelo</label>
                    <input type="text" class="item-input" id="item-colorwave">
                </article>
                <article class="product-item">
                    <p class="item-header">Talles</p>
                    <div id="product-size">
                        <% for (let i=3; i<=15.5; i=i+0.5) { %>
                            <div class="item-size">
                                <input type="checkbox" name="size-input" value="<%= i %>" class="item-checkbox" id="<%= i %>" checked>
                                <label for="<%= i %>"><%= i %></label>
                            </div>
                        <% } %>
                    </div>
                </article>
                <section class="price-discount-container">
                    <article class="product-item">
                        <label for="item-price" class="item-label">Precio</label>
                        <input type="text" class="item-input" id="item-price">
                    </article>
                    <article class="product-item">
                        <label for="item-discount" class="item-label">Descuento</label>
                        <div class="discount-container">
                            <input type="text" class="item-input" id="item-discount"><span>%</span>
                        </div>
                    </article>
                </section>
                <article class="product-item">
                        <label for="item-description" class="item-label">Descripción del producto</label>
                        <div class="description-container-parent">
                        <div class="description-container-child">
                            <textarea name="item-description" id="item-description" placeholder="Escriba una descripción"></textarea>
                            <span class="description-aux"></span>
                        </div>
                        </div>
                </article>
                <article class="product-item">
                    <p class="item-header">Imágenes del producto</p>
                    <div class="item-images">
                        <input type="file" name="item-images" accept=".jpg" accept=".png" id="item-images">
                    </div>
                </article>
                <article class="product-item" id="product-buttons">
                    <div class="item-submit">
                        <button type="submit" id="item-submit">Enviar</button>
                    </div>
                    <div class="item-reset">
                        <button type="reset" id="item-reset">Borrar</button>
                    </div>
                </article>
            </form>
        </div>
    </main>
</body>

</html>